/*

SkyApp Bootstrap SASS theme
Author: Roman Jasko
Version: 0.0.1

*/
/*  Base - Base styles, variables, mixins, etc  */
/* Font colors */
/* Background-colors */
/* Showcase area */
/* Mixins */
/* line 1, ../scss/base/_base.scss */
body {
  font-family: "Segoe UI", "Segoe WP", "Segoe Regular", sans-serif;
  font-size: 15px;
  line-height: 1.7em;
  color: #666666;
  padding-top: 60px;
}

/* line 10, ../scss/base/_base.scss */
a {
  color: #00aff0;
}

/* line 14, ../scss/base/_base.scss */
ul.li {
  list-style: none;
}

/* line 18, ../scss/base/_base.scss */
input, textarea, button {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/* line 22, ../scss/base/_base.scss */
img.device {
  width: 100%;
}

/* line 26, ../scss/base/_base.scss */
.showcase-content {
  padding: 15px 15px !important;
}

/* line 30, ../scss/base/_base.scss */
.showcase-content img {
  padding-top: 140px;
}

@media only screen and (max-width: 480px) {
  /* line 35, ../scss/base/_base.scss */
  .showcase-content img {
    padding-top: 10px;
  }
}
/* line 40, ../scss/base/_base.scss */
img.device-small {
  width: 70%;
  margin-bottom: -30px;
}

/* line 1, ../scss/base/_normilize.scss */
h1, h2, h3, h4, h5 {
  margin-top: 0;
}

/* line 5, ../scss/base/_normilize.scss */
.page-header {
  margin-top: 30px;
}

/* line 9, ../scss/base/_normilize.scss */
.no-pad-top {
  padding-top: 0;
}

/* line 13, ../scss/base/_normilize.scss */
.extra-pad {
  padding-top: 40px;
  padding-bottom: 40px;
}

/*  LAYOUTS - Page layouts styles  */
/*  Footer */
/* line 4, ../scss/layouts/_footer.scss */
.footer-main {
  background: #333333;
  color: #fff;
  border-top: 5px solid #7fba00;
  min-height: 200px;
  padding: 30px 0;
  z-index: 100;
}
/* line 11, ../scss/layouts/_footer.scss */
.footer-main a {
  color: #ffffff;
}
/* line 15, ../scss/layouts/_footer.scss */
.footer-main ul {
  margin: 0;
  padding: 0;
}
/* line 20, ../scss/layouts/_footer.scss */
.footer-main li {
  line-height: 1.8em;
  list-style: none;
}

/* Navbar */
/* line 4, ../scss/layouts/_navigation.scss */
.navbar {
  width: 90%;
  margin: auto;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  border-color: #e7e7e7;
  min-height: 60px;
  background: #fff;
  margin-bottom: 30px;
}
/* line 13, ../scss/layouts/_navigation.scss */
.navbar a {
  color: #00aff0 !important;
  font-size: 20px;
  letter-spacing: -0.5px;
  padding-bottom: 24px !important;
  padding-top: 20px !important;
}

/* line 23, ../scss/layouts/_navigation.scss */
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background: #00aff0 !important;
  color: #fff !important;
}

/*  MODULES - Individual site components  */
/* Text Blocks */
/* line 4, ../scss/modules/_blocks.scss */
.block, .block-primary, .block-secondary, .block-light, .block-dark {
  padding: 15px;
  margin-bottom: 15px;
}
/* line 8, ../scss/modules/_blocks.scss */
.block h3, .block-primary h3, .block-secondary h3, .block-light h3, .block-dark h3 {
  margin: 10px;
  padding-top: 0;
}

/* line 14, ../scss/modules/_blocks.scss */
.block-primary {
  background: #00aff0;
  color: #fff;
}

/* line 19, ../scss/modules/_blocks.scss */
.block-secondary {
  background: #7fba00;
  color: #fff;
}

/* line 24, ../scss/modules/_blocks.scss */
.block-light {
  background: #e4eef2;
  color: #666;
}

/* line 29, ../scss/modules/_blocks.scss */
.block-dark {
  background: #333333;
  color: #fff;
}

/* line 34, ../scss/modules/_blocks.scss */
.block-center {
  text-align: center !important;
}

/* Buttons */
/* line 4, ../scss/modules/_buttons.scss */
.btn-primary {
  background: #00aff0;
  color: #fff;
  border: 2px solid white;
}

/* line 9, ../scss/modules/_buttons.scss */
.btn-primary:hover {
  background: #008abd;
  border: 2px solid white;
}

/* Searchbox */
/* line 3, ../scss/modules/_forms.scss */
.search {
  width: 100%;
}
/* line 6, ../scss/modules/_forms.scss */
.search h3 {
  margin-top: 0px;
  padding-top: 0px;
}
/* line 11, ../scss/modules/_forms.scss */
.search input[type="search"] {
  border: 0;
  height: 50px;
  width: 80%;
  border: 2px solid #00aff0;
  font-size: 80px;
  padding-left: 10px;
  padding-bottom: 5px;
}
/* line 21, ../scss/modules/_forms.scss */
.search button {
  border: 0;
  background: none;
  padding: 0;
  vertical-align: top;
  margin-left: -4px;
}
/* line 29, ../scss/modules/_forms.scss */
.search input[placeholder="Search our website"] {
  font-size: 15px;
}

/* Section */
/* line 3, ../scss/modules/_sections.scss */
section {
  padding: 30px 0;
}

/* line 7, ../scss/modules/_sections.scss */
.section-showcase {
  height: 400px;
  background: url("../img/showcase.jpg") no-repeat top center;
}
/* line 11, ../scss/modules/_sections.scss */
.section-showcase .showcase-content {
  padding: 110px 15px;
  text-align: center;
}
/* line 16, ../scss/modules/_sections.scss */
.section-showcase h1 {
  color: #00aff0;
}

/* line 21, ../scss/modules/_sections.scss */
.section-primary {
  background: #00aff0;
  color: #fff;
}

/* line 25, ../scss/modules/_sections.scss */
.section-light {
  background: #e4eef2;
  color: #666;
}

/* line 29, ../scss/modules/_sections.scss */
.section-dark {
  background: #333333;
  color: #fff;
}

/* Lists */
/* line 3, ../scss/modules/_typography.scss */
.list, .list-feature {
  margin-bottom: 30px;
}

/* line 7, ../scss/modules/_typography.scss */
.list-feature {
  margin: 0;
  padding: 0;
  width: 80%;
}
/* line 13, ../scss/modules/_typography.scss */
.list-feature li {
  line-height: 3.6em;
  border-bottom: 1px solid #cccccc;
}
/* line 18, ../scss/modules/_typography.scss */
.list-feature li:last-child {
  border: 0;
}
/* line 22, ../scss/modules/_typography.scss */
.list-feature span {
  vertical-align: top;
  padding-top: 9px;
  font-size: 120%;
}
/* line 28, ../scss/modules/_typography.scss */
.list-feature i {
  margin-top: -9px;
  margin-right: 5px;
}

/* Icons */
/* line 37, ../scss/modules/_typography.scss */
.fa-2 {
  font-size: 18px;
}

/* line 41, ../scss/modules/_typography.scss */
.fa-3 {
  font-size: 24px;
}

/* line 45, ../scss/modules/_typography.scss */
.fa-4 {
  font-size: 27px;
}

/* line 49, ../scss/modules/_typography.scss */
.fa-5 {
  font-size: 35px;
}

/* line 53, ../scss/modules/_typography.scss */
.fa-6 {
  font-size: 40px;
}

/* line 57, ../scss/modules/_typography.scss */
.fa-primary {
  color: #00aff0;
}

/* line 61, ../scss/modules/_typography.scss */
.fa-border {
  border: 1px solid #00aff0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 13px 15px;
  width: 70px;
  margin-bottom: 10px;
}

/* headings */
/* line 71, ../scss/modules/_typography.scss */
.heading-primary {
  color: #00aff0;
}

/* line 75, ../scss/modules/_typography.scss */
.secondary-primary {
  color: #7fba00;
}

/* line 79, ../scss/modules/_typography.scss */
.light-primary {
  color: #e4eef2;
}

/* line 83, ../scss/modules/_typography.scss */
.dark-primary {
  color: #333333;
}
