/*

SkyApp Bootstrap SASS theme
Author: Roman Jasko
Version: 0.0.1

*/
/*  Base - Base styles, variables, mixins, etc  */
/* Font colors */
/* Background-colors */
/* Mixins */
/* line 1, ../scss/base/_base.scss */
body {
  font-family: "Segoe UI", "Segoe WP", "Segoe Regular", sans-serif;
  font-size: 15px;
  line-height: 1.7em;
  color: #666666;
  padding-top: 60px;
}

/* line 10, ../scss/base/_base.scss */
a {
  color: #00aff0;
}

/* line 14, ../scss/base/_base.scss */
ul.li {
  list-style: none;
}

/* line 18, ../scss/base/_base.scss */
input, textarea, button {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/* line 1, ../scss/base/_normilize.scss */
h1, h2, h3, h4, h5 {
  margin-top: 0;
}

/* line 5, ../scss/base/_normilize.scss */
.page-header {
  margin-top: 30px;
}

/*  LAYOUTS - Page layouts styles  */
/* Navbar */
/* line 4, ../scss/layouts/_navigation.scss */
.navbar {
  width: 90%;
  margin: auto;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  border-color: #e7e7e7;
  min-height: 60px;
  background: #fff;
  margin-bottom: 30px;
}
/* line 13, ../scss/layouts/_navigation.scss */
.navbar a {
  color: #00aff0 !important;
  font-size: 20px;
  letter-spacing: -0.5px;
  padding-bottom: 24px !important;
  padding-top: 20px !important;
}

/* line 23, ../scss/layouts/_navigation.scss */
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background: #00aff0 !important;
  color: #fff !important;
}

/*  MODULES - Individual site components  */
